.list-group{
    margin-left: 16px;
}
.product-container{
display: flex;
align-items: center;
width: 80%;
height: 10rem;
border: 1px solid black !important;
display: none;
}
.title-img-container{
    margin-right: 5rem;
}
.title-img-container img{
    width: 6rem;
}
.card-title{
    margin-bottom: 1rem;
}
.number-select{
    width: 2rem;
    text-align: center;
}
.add-rest-button{
    width: 1.5rem;
    height: 1.5rem;
}
span{
    margin: 25px;
}